#kategorier {
    margin: 10px 30px;
    grid: 1, 5;
}
button {
    background: none;
    border: 1px solid #a4a4a4;
    font-size: 1em;
    margin: 10px 5px 0 0;
}
.kurv {
    content: url(/images/icon/kurv.png);
    margin: 20px 20px 0 0 ;
    float: right;
}
.produktContainer {
    display: flex;
    width: 100%;
    padding: 0 10px 10px 10px;
}
.produkt {
    margin-left: 20px;
    margin-right: 20px;
}
.produkt img {
    width: calc(100% + 5px);
}
.produkt p {
    margin: 0;
}
.produkt h3 {
    margin: 5px 0 0 0;
    font-size: 18px;
    color: red;
}
@media only screen and (min-width: 400px) {
h2 {
    text-align: center;
    font-size: 65px;
}
h4 {
    font-family: 'Avenir Roman', sans-serif;
    text-align: center;
    margin-right: calc(680px - 6%);
    font-size: 20px;
    font-weight: 100;
}
.kurv {
    margin: 0 0 0 0 ;
    width: 80px;
}
#kategorier {
    text-align: center;
}    
button {
    font-size: 28px;
    margin: 30px 15px 0 0px;
    padding: 10px;
}
.produktContainer {
    display: inline;
}
.produkt {
    display: inline-block;
}
.produkt img {
    width: 300px;
}
.produkt p {
    margin: 0;
    font-size: 25px;
}
.produkt h3 {
    margin: 10px 0;
    font-size: 25px;
}
}