.sliderBox {
    z-index: -1;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}
.sliderBox img {
    width: 100%;
    display: none;
}
img.displaySlide {
    display: block;
    animation-name: anim;
    animation-duration: 1s;
}
@keyframes anim {
    from {opacity: 0.7;}
    to {opacity: 1;}
    
}
/*knap*/
.sliderBox button {
    background-color: rgba(245, 0, 0, 0.3);
    color: white;
    border: none;
    padding: 1.5%;
    font-size: 200%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sliderBox button:hover {
    background-color: rgba(245, 0, 0, 0.6);
}
.venstreKlik {
    left: 0;
}
.højreKlik { 
    right: 0;
}

